<ion-content>
  <section name="events" class="events-section z-3">

    <div class="events-container">
      <div class="event-card relative">

        <swiper-container 
        #swiperRef 
        [loop]="true"
        autoplay='{"delay": 2000, "disableOnInteraction": true}'
        [slidesPerView]="1" 
        [speed]="1000" 
        [fadeEffect]="{
          crossFade: true
        }" [pagination]="{ clickable: true }">
          <swiper-slide *ngFor="let event of events">
            <div [style.backgroundImage]="'url(' + event.image + ')'" class="event-card-image" style="
              width: 100%;
              height: 100vh;
              background-size: cover;
              background-position: center;
            ">

              <div class="event-card-content w-full h-full flex items-center justify-center">
                <div class="event-card-content-inner flex flex-col items-center justify-center">
                  <h1 class="text-primary">{{event.name}}</h1>
                  <p class="text-primary starts-in">Starts in</p>
                  <div class="countdown">
                    <div class="flex-col items-center justify-center">
                      <span>{{event.countdown?.days}}</span> <span class="time-unit">Days</span>
                    </div>
                    <div class="flex-col items-center justify-center">
                      <span>{{event.countdown?.hours}}</span> <span class="time-unit">Hours</span>
                    </div>
                    <div class="flex-col items-center justify-center">
                      <span>{{event.countdown?.minutes}}</span> <span class="time-unit">Minutes</span>
                    </div>
                    <div class="flex-col items-center justify-center">
                      <span>{{event.countdown?.seconds}}</span> <span class="time-unit">Seconds</span>
                    </div>
                  </div>
                  <button class="btn btn-primary mt-50">
                    Get Tickets
                  </button>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>

      </div>
    </div>
  </section>



  <section class="events-details-section flex relative"
    [style.backgroundImage]="'url(' + selectedSlide().image + ')'"
    style="
        background-size: cover;
        background-position: center;
      "
    >
    <div class="shade top z-1"></div>

    <div class=" z-2">
      <div class="events-container-wrapper">
        <div class="events-container" #sliderContainer>
          @for (event of commingEvents(); track event.id) {
              <div  #slide [style.backgroundImage]="'url(' + event.image + ')'" class="slide event-card" style="
              background-size: cover;
              background-position: center;
            "></div>
          }
        </div>
    
        <div class="slider-controls">
          <mat-icon class="dot" (click)="slidePrev()">arrow_back_ios</mat-icon>
          <mat-icon class="dot" (click)="slideNext()">arrow_forward_ios</mat-icon>
        </div>

      </div>
    </div>

    <div class="details z-2">
      <div class="event-description">
        <h1>{{selectedSlide().name}}</h1>
        <p>{{selectedSlide().description}}</p>
        <p>{{selectedSlide().date}}</p>

        <button class="btn btn-primary">
          Get Tickets
        </button>
      </div>
    </div>
    <img class="events-bg" src="assets/images/events-bg.png" alt="">
    <div class="shade bottom z-1"></div>
  </section>

  <section name="events" class="events-section-line z-3">

    <div class="events-container">
      <div class="events-section-title flex items-center justify-center">
        <h1 class="m-0 mb-40">All Events</h1>
      </div>
      <div class="event-card">
        <swiper-container [loop]="true" autoplay='{"delay": 1000, "disableOnInteraction": false}' breakpoints='{
        "640": { "slidesPerView": 3 },
        "768": { "slidesPerView": 4 },
        "1024": { "slidesPerView": 6 },
        "1440": { "slidesPerView": 6 }
      }' [slidesPerView]="4" class="mySwiper" [spaceBetween]="20">
          <swiper-slide *ngFor="let image of images">
            <div [style.backgroundImage]="'url(' + image + ')'" style="
          aspect-ratio: 1/1;
          width: 100%;
          background-size: cover;
          background-position: center;
        "></div>

          </swiper-slide>
        </swiper-container>

      </div>
    </div>
  </section>

  <app-footer></app-footer>

</ion-content>