<section name="events" class="events-section z-3">

  <div class="events-container">
    <div class="event-card relative">

      <swiper-container 
        #swiperRef 
        [loop]="true" 
        autoplay='{"delay": 0, "disableOnInteraction": true}' 
        [slidesPerView]="1"
        [speed]="1000" 
        [fadeEffect]="{
        crossFade: true
        }"
         [pagination]="{ clickable: true }">
        <swiper-slide *ngFor="let event of events">
          <div 
            [style.backgroundImage]="'url(' + event.image + ')'"
            class="event-card-image" 
            style="
              width: 100%;
              height: 100vh;
              background-size: cover;
              background-position: center;
            ">

            <div class="event-card-content w-full h-full flex items-center justify-center">
              <div class="event-card-content-inner flex flex-col items-center justify-center">
                <h1 class="text-primary">{{event.name}}</h1>
                <p class="text-primary starts-in">Starts in</p>
                <div class="countdown">
                  <div class="flex-col items-center justify-center">
                    <span>{{event.countdown?.days}}</span> <span class="time-unit">Days</span>
                  </div>
                  <div class="flex-col items-center justify-center">
                    <span>{{event.countdown?.hours}}</span> <span class="time-unit">Hours</span>
                  </div>
                  <div class="flex-col items-center justify-center">
                    <span>{{event.countdown?.minutes}}</span> <span class="time-unit">Minutes</span>
                  </div>
                  <div class="flex-col items-center justify-center">
                    <span>{{event.countdown?.seconds}}</span> <span class="time-unit">Seconds</span>
                  </div>
                </div>
                <button class="btn btn-primary mt-50">
                  Get Tickets
                </button>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>

    </div>
  </div>
</section>