.event-card{
    height: 100vh;
}

.countdown{
    display: flex;
    justify-content: center;
    gap: 115px;
    width: 100%;
    font-weight: 600;
    span{
        color: var(--ion-text-color);
        margin: 0 15px;
        font-size: 100px;
        font-family: monospace;
    }
    .time-unit{
        color: var(--ion-text-color);
        font-size: 30px;
    }
}

.event-card-content{
    z-index: 2;
    font-size: 70px;
    h1{
        z-index: 2;
        font-size: 70px;
        margin: 0;
        font-weight: 800;
    }
    p{
        z-index: 2;
        font-size: 40px;
        margin: 0;
        font-weight: 500;
    }

    .event-card-content-inner{
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
}

.event-card-image{
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}

// ::ng-deep{
//     swiper-container{
//         .swiper-pagination-clickable .swiper-pagination-bullet{
//             background-color: white !important;
//         }
    
//         .swiper-pagination-clickable .swiper-pagination-bullet-active{
//             background-color:white !important;
//         }
//     }
// }

::ng-deep .swiper-pagination-bullet{
    background-color: white !important;
}

::ng-deep .swiper-pagination-bullet-active{
    background-color:white !important;
}